In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load the data

# Load data from cleaned csv files
hmda = pd.read_csv('cleaned.csv')

# Copy relative path for each file name 
# Load in chucks to avoid memory errors

# hmda2007 = pd.read_csv('raw_data\hmda_2007.csv')
# hmda2008 = pd.read_csv('raw_data\hmda_2008.csv')
# hmda2009 = pd.read_csv('raw_data\hmda_2009.csv')
# hmda2010 = pd.read_csv('raw_data\hmda_2010.csv')

# hmda2011 = pd.read_csv('raw_data\hmda_2011.csv')
# hmda2012 = pd.read_csv('raw_data\hmda_2012.csv')
# hmda2013 = pd.read_csv('raw_data\hmda_2013.csv')
# hmda2014 = pd.read_csv('raw_data\hmda_2014.csv')

# hmda2015 = pd.read_csv('raw_data\hmda_2015.csv')
# hmda2016 = pd.read_csv('raw_data\hmda_2016.csv')
# hmda2017 = pd.read_csv('raw_data\hmda_2017.csv')

In [3]:
# Data Cleaning
def clean_data(data):
    # Columns to keep
    keep = ['as_of_year', 'loan_type', 'loan_purpose', 'loan_amount_000s', 'msamd', 'state_code', 'county_code', 'applicant_ethnicity', 'co_applicant_ethnicity',
            'applicant_race_1', 'co_applicant_race_1', 'applicant_sex', 'co_applicant_sex', 'applicant_income_000s', 'purchaser_type', 'rate_spread', 'hoepa_status',
            'population', 'minority_population', 'hud_median_family_income', 'tract_to_msamd_income', 'number_of_owner_occupied_units', 'number_of_1_to_4_family_units']

    # Categorical column names
    name_columns = ['loan_type_name', 'loan_purpose_name', 'msamd_name', 'state_name', 'state_abbr', 'county_name', 'applicant_ethnicity_name',
                    'co_applicant_ethnicity_name', 'applicant_race_name_1', 'co_applicant_race_name_1', 'applicant_sex_name', 'co_applicant_sex_name',
                    'purchaser_type_name', 'hoepa_status_name']

    # Remove columns that are not in the keep list
    data = data[keep]

    # Values in rows with column information that is missing or not applicable
    remove_values_from_columns = {'applicant_ethnicity': [3,4], 'co_applicant_ethnicity': [3,4], 'applicant_race_1': [6, 7], 'co_applicant_race_1': [6, 7],
                                  'applicant_sex': [3], 'co_applicant_sex': [3], 'purchaser_type': [0], 'hoepa_status': [3,4]}    

    # Remove rows that contain the values in columns from the remove_values_from_columns dictionary
    for column, values in remove_values_from_columns.items():
        data = data[~data[column].isin(values)]

    # Recode values for interpretation purposes

    # Set 'No co applicant' to 0 for co_applicant_ethnicity, co_applicant_race_1, and co_applicant_sex
    co_apps = {'co_applicant_ethnicity': 5, 'co_applicant_race_1': 8, 'co_applicant_sex': 5}
    for column, value in co_apps.items():
        data.loc[data[column] == value, column] = 0

    # Set 'Not applicable' to 3 for applicant_sex and co_applicant_sex
    app_sex = {'applicant_sex': 4, 'co_applicant_sex': 4}
    for column, value in app_sex.items():
        data.loc[data[column] == value, column] = 3

    # Remove rows with missing values
    data = data.dropna()
    
    return data


# Clean and save cleaned data to csv file

# cleaned_2007 = clean_data(hmda2007)
# cleaned_2008 = clean_data(hmda2008)
# cleaned_2009 = clean_data(hmda2009)
# cleaned_2010 = clean_data(hmda2010)

# cleaned_2011 = clean_data(hmda2011)
# cleaned_2012 = clean_data(hmda2012)
# cleaned_2013 = clean_data(hmda2013)
# cleaned_2014 = clean_data(hmda2014)

# cleaned_2015 = clean_data(hmda2015)
# cleaned_2016 = clean_data(hmda2016)
# cleaned_2017 = clean_data(hmda2017)

# Merge dataframes
# cleaned = pd.concat([cleaned_2007, cleaned_2008, cleaned_2009, cleaned_2010])
# cleaned2 = pd.concat([cleaned_2011, cleaned_2012, cleaned_2013, cleaned_2014])
# cleaned3 = pd.concat([cleaned_2015, cleaned_2016, cleaned_2017])

# Save cleaned data to csv
# cleaned.to_csv('hmda_cleaned.csv', index=False)
# cleaned2.to_csv('hmda_cleaned2.csv', index=False)
# cleaned3.to_csv('hmda_cleaned3.csv', index=False)


# Complied cleaned data into one file
 
# cleaned = pd.read_csv('hmda_cleaned.csv')
# cleaned2 = pd.read_csv('hmda_cleaned2.csv')
# cleaned3 = pd.read_csv('hmda_cleaned3.csv')

# Merge dataframes
# cleaned = pd.concat([cleaned, cleaned2, cleaned3])

# Save cleaned data to csv
# cleaned.to_csv('cleaned.csv', index=False)

In [4]:
hmda.describe()

,as_of_year,loan_type,loan_purpose,loan_amount_000s,msamd,state_code,county_code,applicant_ethnicity,co_applicant_ethnicity,applicant_race_1,...,applicant_income_000s,purchaser_type,rate_spread,hoepa_status,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units
count,1.972452e+06,1.972452e+06,1.972452e+06,1.972452e+06,1.972452e+06,1.972452e+06,1.972452e+06,1.972452e+06,1.972452e+06,1.972452e+06,...,1.972452e+06,1.972452e+06,1.972452e+06,1.972452e+06,1.972452e+06,1.972452e+06,1.972452e+06,1.972452e+06,1.972452e+06,1.972452e+06
mean,2.011672e+03,1.575211e+00,1.605071e+00,1.832858e+02,3.019115e+04,2.666505e+01,9.156085e+01,1.781805e+00,6.154456e-01,4.555149e+00,...,7.223043e+01,5.451978e+00,2.918970e+00,1.998776e+00,5.715902e+03,3.819663e+01,6.537089e+04,1.015682e+02,1.443440e+03,1.903625e+03
std,3.871685e+00,5.328400e-01,9.098029e-01,2.203969e+02,1.113143e+04,1.661896e+01,1.042688e+02,4.130206e-01,8.822367e-01,9.073915e-01,...,7.384527e+01,2.843714e+00,1.655448e+00,3.496227e-02,2.919877e+03,2.957030e+01,1.223751e+04,3.329898e+01,8.154927e+02,9.776526e+02
min,2.007000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.018000e+04,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.500000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.440000e+04,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.007000e+03,1.000000e+00,1.000000e+00,1.040000e+02,1.974000e+04,1.200000e+01,2.900000e+01,2.000000e+00,0.000000e+00,5.000000e+00,...,4.100000e+01,2.000000e+00,1.710000e+00,2.000000e+00,3.874000e+03,1.275000e+01,5.830000e+04,7.949000e+01,9.090000e+02,1.279000e+03
50%,2.013000e+03,2.000000e+00,1.000000e+00,1.530000e+02,3.108400e+04,2.600000e+01,6.700000e+01,2.000000e+00,0.000000e+00,5.000000e+00,...,5.900000e+01,6.000000e+00,2.220000e+00,2.000000e+00,5.204000e+03,2.968000e+01,6.400000e+04,9.824000e+01,1.308000e+03,1.733000e+03
75%,2.015000e+03,2.000000e+00,3.000000e+00,2.250000e+02,3.958000e+04,4.200000e+01,1.130000e+02,2.000000e+00,2.000000e+00,5.000000e+00,...,8.400000e+01,8.000000e+00,3.510000e+00,2.000000e+00,6.841000e+03,6.040000e+01,7.100000e+04,1.189400e+02,1.798000e+03,2.308000e+03
max,2.017000e+03,4.000000e+00,3.000000e+00,9.500000e+04,4.974000e+04,7.200000e+01,8.400000e+02,2.000000e+00,2.000000e+00,5.000000e+00,...,9.999000e+03,9.000000e+00,9.999000e+01,2.000000e+00,5.381200e+04,1.000000e+02,1.315000e+05,4.869400e+02,1.952900e+04,2.539100e+04

In [4]:
k = ['as_of_year', 'loan_type', 'loan_type_name', 'loan_purpose', 'loan_purpose_name', 'loan_amount_000s', 'msamd_name', 'msamd', 
     'state_name', 'state_abbr', 'state_code', 'county_name', 'county_code', 'applicant_ethnicity_name', 'applicant_ethnicity', 'co_applicant_ethnicity_name',
     'co_applicant_ethnicity', 'applicant_race_name_1', 'applicant_race_1', 'co_applicant_race_name_1', 'co_applicant_race_1', 'applicant_sex_name', 'applicant_sex', 
     'co_applicant_sex_name', 'co_applicant_sex', 'applicant_income_000s', 'purchaser_type_name', 'purchaser_type', 'rate_spread', 'hoepa_status_name', 'hoepa_status', 
     'population', 'minority_population', 'hud_median_family_income', 'tract_to_msamd_income', 'number_of_owner_occupied_units', 'number_of_1_to_4_family_units']

maybe = ['agency_code', 'agency_name']

drop = ['denial_reason_name_1', 'denial_reason_1', 'denial_reason_name_2', 'denial_reason_2', 'denial_reason_name_3', 'denial_reason_3',
        'respondent_id', 'agency_name', 'agency_abbr', 'agency_code', 'owner_occupancy', 'owner_occupancy_name', 'edit_status_name', 'edit_status',
        'lien_status_name', 'lien_status', 'property_type_name', 'property_type', 'application_date_indicator', 'preapproval_name', 'preapproval', 
        'action_taken_name', 'action_taken', 'census_tract_number', 'applicant_race_name_2', 'applicant_race_2', 'applicant_race_name_3', 'applicant_race_3',
        'applicant_race_name_4', 'applicant_race_4', 'applicant_race_name_5', 'applicant_race_5', 'co_applicant_race_name_2', 'co_applicant_race_2', 
        'co_applicant_race_name_2', 'co_applicant_race_2', 'co_applicant_race_name_4', 'co_applicant_race_4', 'co_applicant_race_name_5', 'co_applicant_race_5', 
        'sequence_number']